@media only screen and (min-width: 1024px) {
    .bottom-icons {
        display: none !important;
    }
    .caption {
        display: none !important;
    }

    header {
        display: none !important;
    }

    .side-bar {
        flex: 1;
        margin: 1%;
    }

    .container {
        border-radius: 1% !important; 
        flex: 2;
        max-width: max-content !important;
        margin: 1% !important;
    }

    .top-left-nav p,
    .top-left-nav strong,
    .top-left-nav i {
        color: #999 !important;
    }

    .top-left-nav p,
    .top-right-nav,
    .top-right-nav p,
    .fas, 
    .far {
        font-size: larger !important;
        margin: auto 2% !important;    
    }

    .top-right-nav i,
    .top-right-nav p {
        color: #999 !important;
        margin: 0 10% !important;
    }

    .top-left-nav,
    .top-right-nav {
    width: 12.5%;
    }

    .side-bar,
    .navbar, 
    .side-bar-profile {
        background: #fefefe;
        opacity: 100% !important;
        height: 100% !important;
    }

    .side-bar {
        background: #fefefe;
        font-size: larger;
        font-weight: bold;
    }

    .side-bar-profile-bottom {
        justify-content: space-between;
        margin: 2% !important;
        padding: 0;
    }

    .side-bar-profile-bottom div {
        display: flex;
        margin: 0;
        justify-content: stretch;

    }

    .navbar h2 {
        color: #4e50b8;
        font-size: 250%;
        margin-top: 1% !important;
        margin-bottom: 1%;
    }

    .side-bar-profile,
    .desktop-main,
    .navbar,
    .top-left-nav,
    .top-right-nav {
        display: flex;
        justify-content: space-between;
    }

    .desktop-main {
        background: #eee;
        padding: 1%;
    }
    
    .desktop {
        display: flex;
        flex-direction: column;
    }


    .side-bar-profile-top img {
        width: 25%;
        margin: 2%;
    }

    .side-bar-profile-top {
        line-height: 70%;
    }

    .pname {
        color: #4e50b8 !important;
        font-size: 120%;
    } 

    .pstatus {
        color: #999;
        line-height: 140%;
    }

    .side-bar-profile {
        display: flex;
        flex-direction: column;
        font-size: small;
        margin: 2%;
    }

    .side-bar-profile-top {
        display: flex;
        justify-content: space-between;
    }

    .side-bar-profile-bottom {
        display: flex;
        margin: auto 15%;
        justify-content: space-evenly;

    }

    .side-bar-list {
        margin: 5%;
    }

    .side-bar-list i,
    .side-bar-list li {
        color: #999;
        margin: 2%;
        line-height: 180%;
        display: flex;
        justify-content: space-between;
    }

    .side-bar-list span {
        color: #999;
        font-size: large;
        font-weight: 500;
    }

    .side-bar-list div {
        background: #f0916e;
        border-radius: 10%;
        color: #fff;
        font-size: small;
        margin: auto 0;
        padding: 0 4%;
    }

    .live-channels {
        background: #eee !important;
        color: #888 !important;
    }

    .get-premium {
        background: #4e50b8;
        border-radius: 5%;
        color: #fff !important;
        width: 55%;
        padding: 2% 0;
        padding-left: 15%;
    }

    .fa-check-circle {
        color: #fff;
    }

    .side-bar-profile-bottom .fa-heart {
        color: #f0916e;
        background: #fff;
    }

    .love-count {
        padding-top: 2%;
    }

    .fa-cog {
        color: #999;
        font-size: x-large !important;
        padding-left: 10%;
    }

    .vl {
        border-left: 2px solid #888;
    }

    .fa-map-marker-alt {
        padding-left: 5%;
    }
}

@media only screen and (max-width: 414px) {
    .caption {
        font-size: small;
    }

    .logo {
        font-size: xx-large !important;
    }

    .fas {
        font-size: 200% !important;
    }

    .fa-user-plus {
        font-size: large !important;
    }

    .message-container {
        padding-bottom: -5%;
    }

    .message-container input {
        margin: 0 -10% !important;
        width: 110% !important;
    }

    #message {
        height: 10% !important;
    }
}

* {
    color: #414464;
    font-family: Helvetica Neue, 'Montserrat', sans-serif;
}

body {
    background-color: #4e50b8;
    min-height: max-content;
    margin: auto;
}

a {
    text-decoration: none;
}

footer {
    margin: 3%;
    margin-top: 15%;
}

footer a {
    margin-top: 4%;
}

hr {
    border: #ccc solid 0.001em;
    padding: 0;
    margin: 0;
}

h2 {
    margin: auto;
}

.container {
    background-color: #fff;
    border-radius: 2.5%;
    padding: 0;
    max-width: 800px;
    margin: auto;
}

ul {
    margin: auto 0;
    padding: 0;
}

header {
    margin: auto;
    display: flex;
    justify-content: space-between;
}


img {
    border-radius: 3%;
    height: 100%;
    width: 100%;
}

main ul {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 0;
}


.logo {
    color: #4e50b8;
    font-size: 500%;
    margin: 0;
}

li {
    list-style: none;
}


span {
    color: #f0916e;
}

.fas {
    border-radius: 5%;
    font-size: 425%;
    margin: 20% auto;
    z-index: 99;
}

.bottom-icons {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    padding: 0;
}

.bottom-icons .fas {
    color: #aaa;
    margin: 0;
    padding: 5%;
}

.bottom-icons a {
    padding-top: 0;
    margin: 0;
}

.bottom-row {
    display: flex;
}

.box-left,
.box-right {
    width: 60%;
}

.box-right {
    margin-left: 40%;
}


.msg-right,
.msg-left {
    font-size: larger;
    background-color: #888;
    border-radius: 5%;
    padding: 3%;
    margin-bottom: 1%;
    margin-top: 5%;
}

.msg-time,
.msg-map {
    color: #aaa;
    margin: 0;
    padding: 0;
    font-size: large;
    text-align: right;
}

.msg-map {
    float: left;
}

.msg-left {
    background-color: #ccc;
}

.msg-right {
    background-color: #ccc;
    text-align: right;
}

.main-msg {
    background: #eee;
    margin: 3%;
}

.msg-detail {
    flex: 1;
    padding: 2%;
}

.msg-thread {
    background-color: #fff;
    display: flex;
    margin: 3%;
}

.msg-thread img {
    margin: 3%;
    width: 15%;
}

.thread-title {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    width: 100%;
}

.bottom-icons .msg-comments {
    color: #f0916e;
}

.full-img {
    margin-top: 0;
    z-index: -99;
}

.nav-icons {
    margin-top: -60%;
    margin-bottom: 50%;
}

.caption {
    background-color: #eee;
    border-radius: 5%;
    border: 1px solid #eee;
    border-top: 5px solid #4e50b8;
    width: 50%;
    position: relative;
    left: 25%;
    margin-top: -10%;
}

.arrow-left {
    color: #414464 !important;
    position: absolute;
}

.fa-less-than,
.fa-greater-than {
    background-color: #fff;
    border: #ccc solid 1px;
    border-radius: 15%;
    color: #ccc;
    font-size: 475%;
}

.bottom-icons .fa-arrow-up {
    background-color: #4e50b8;
    border-radius: 15%;
    color: #fff;
    font-size: 300%;
}

.bottom-icons .fa-paperclip {
    font-size: 300%;
    padding: 0;
    color: #ddd;
}

.fa-edit,
.fa-bell,
.fa-bars,
.arrow-left,
.square-bars {
    color: #aaa;
    margin: auto 2%;
}

.fa-gift {
    margin: 2.5% 5%;
    color: #4e50b8;
    font-size: xx-large;
}

.fa-heart {
    background-color: #4e50b8;
    color: #fff;
}

.fa-heart:hover {
    font-size: 475%;
}

.fa-times {
    background-color: #f0916e;
    color: #fff;
    font-size: 495%;
}

.fa-times:hover {
    font-size: 525%;
}

.fa-user-plus {
    color: #f0916e;
    position: relative;
    transform: rotateY(180deg);
    margin: 0;
    margin-top: -100%;
    margin-left: 60%;
    font-size: 220%;
}

.high-light {
    color: #f0916e;
}

.main-img,
.desc,
.selector-caption {
    margin: 1% 3%;
}

.learn-more {
    color: #aaa;
    margin: 2%;
    text-align: center;
}

.message-container,
.message-img {
    margin: auto;
}

.message-container input {
    border: 1px solid #ddd;
    border-radius: 5%;
    color: #aaa;
    margin-left: -90%;
    margin-bottom: 10%;
    padding: 0 5%;
    background-color: #eee;
}

.name-row,
.name-row-title {
    display: flex;
    justify-content: space-between;
}

.name-row,
.desc {
    margin-top: 1.5%;
}

.movies-desc {
    margin-top: 3.5%;
}

.msg-desc {
    margin-top: 3%;
}

.bottom-icons .msg2 {
    margin-top: 4%;
}

.selector {
    margin-top: -5%;
}

.selector-caption .fas,
.selector .fas {
    padding: 25%;
}

.selector-caption {
    height: 20px;
}

.square-bars {
    color: #414464;
    display: flex;
    flex-direction: column;
    float: right;
    font-size: xx-small;
}

.thumbnails {
    display: flex;
    margin: 0;
}

.thumbnails a {
    margin: 2%;
    opacity: 25%;
}

.thumbnails .thumb-gugu,
.thumbnails .thumb-scarl,
.thumbnails .thumb-emily {
    opacity: 100%;
}

.title {
    color: #888;
    font-size: small;
    margin-bottom: -3%;
}

#message {
    font-size: larger;
    height: 50px;
    width: 270%;
}

.side-bar,
.navbar {
    opacity: 0;
    height: 0;
}
