* {
    color: #414464;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #4e50b8;
    width: 360px;
    margin: auto;
}

a {
    text-decoration: none;
}

.container {
    background-color: #fff;
    border-radius: 5%;
    padding: 3%;
}

ul {
    margin: auto 0;
    padding: 0;
}

header,
.message-footer {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

img {
    border-radius: 3%;
    height: 100%;
    width: 100%;
}

main {
    overflow: hidden;
    margin: auto;
}

main ul {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 0;
}

h1 {
    color: #4e50b8;
}

li {
    list-style: none;
}


span {
    color: #f0916e;
}

.bottom-row {
    display: flex;
}

.fas {
    border-radius: 5%;
    font-size: x-large;
    margin: auto;
}

.fa-less-than,
.fa-greater-than {
    background-color: #fff;
    border: #eee solid 1px;
    border-radius: 20%;
    font-size: x-large;
}

.message-footer a,
.fa-arrow-up {
    background-color: #4e50b8;
    border-radius: 15%;
    color: #fff;
    padding: 2%;
}

.fa-paperclip {
    font-size: large;
    margin-right: 2%;
    color: #ddd;
}

.fa-bars,
.top-left {
    margin-left: 0;
}

.fa-bell,
.top-right {
    margin-right: 0;
}

.fa-gift {
    margin: 2.5% 5%;
    color: #4e50b8;
    font-size: xx-large;
}

.fa-heart {
    background-color: #4e50b8;
    color: #fff;
}

.fa-heart:hover {
    font-size: xx-large;
}

.fa-times {
    background-color: #f0916e;
    color: #fff;
    font-size: 175%;
}

.fa-times:hover {
    font-size: 250%;
}

.message-container {
    width: 80%;
}

.message-container input {
    border: 1px solid #ddd;
    border-radius: 5%;
    color: #aaa;
    padding-left: 4%;
    padding-right: 36%;
    background-color: #eee;
}

.name-row {
    display: flex;
    justify-content: space-between;
}

.selector {
    margin: -7.5% auto auto;
}

.selector .fas {
    padding: 25%;
}

.thumbnails {
    display: flex;
    margin: 2% 0;
}

.thumbnails img {
    margin: 2%;
    opacity: 25%;
}

.thumbnails .thumb-gugu,
.thumbnails .thumb-scarl,
.thumbnails .thumb-emily {
    opacity: 100%;
}

.title {
    color: #888;
    font-size: small;
    margin-bottom: -3%;
}

#message {
    height: 33px;
}